<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/headers')%>  
    <title>Home</title>
</head>
<body>

 <%- include('layouts/navbar')%>  
   <div class="container">
        <h1 class="mt-4">Insert your product</h1>
       <form action="/save" method="POST" enctype="multipart/form-data">
           <div class="row">
               <div class="col md-6  ">
                   <label  for="name">Insert Name</label>
                   <input id="name" name="inputName" class="form-control" type="text" placeholder="Insert price..">
               </div>
               <div class="col md-6 ">
                   <label  for="price">Insert Price</label>
                   <input id="price" name="inputPrice" class="form-control" type="text" placeholder="Insert price..">
               </div>
           </div>
           <div class="row">
               <div class="col md-6 ">
                   <label   for="desc">Insert description</label>
                   <textarea id="desc" name="inputDesc"  class="form-control" placeholder="Enter your message here.." style="height: 12rem"></textarea>
               </div>
               <div class="col md-6 ">
                   <label   for="photo">Inserisci Photo</label>
                   <input id="photo" name="inputPhoto"  type="file" class="mt-5"  placeholder="Attach file here!">
               </div>
           </div>
           <button class="btn btn-success btn-block mt-5" type="submit">Send Date</button>
       </form>
   </div>
   

 

    <%- include('layouts/script')%>  
</body>
</html>