<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/headers')%>  

    <title>Home</title>
</head>
<body>

 <%- include('layouts/navbar')%>  
 
 <div class="container">
    <h1 class="mt-3">Log In</h1>
     <form action="" method="">
         <div class="row">
             <div class="col md-6  ">
                 <label class="mt-2" for="">Insert Username</label>
                 <input  class="form-control" type="text" placeholder="Insert Username..">
             </div>
             <div class="col md-6 ">
                 <label class="mt-2" for="">Insert Password</label>
                 <input  class="form-control" type="password" placeholder="Insert password..">
             </div>
         </div>
 
         <button class="btn btn-success btn-block mt-5" type="submit">Send Date</button>
     </form>
 </div>

    <%- include('layouts/script')%>  
</body>
</html>