<!DOCTYPE html>
<html lang="en">
<head>

       <%- include('layouts/headers')%>  
    <title>Home</title>
</head>
<body>

 <%- include('layouts/navbar')%>  
<div class="container">
        <h1>Product List</h1> 
     <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prova Name</td>
                <td>Prova Price</td>
                <td>Prova Description</td>
                <td>Prova Photo</td>
            </tr>
        </tbody>
    </table>
</div> 
    <%- include('layouts/script')%>   
</body>
</html>