<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/headers')%>  
    
    <title>Home</title>
</head>
<body>

 <%- include('layouts/navbar')%>  
 <div class="container">
        <h1 class="mt-4">Register</h1>
    <form action="" method="">
        <div class="row">
            <div class="col md-6  ">
                <label  for="">Insert Name</label>
                <input  class="form-control" type="text" placeholder="Insert name..">
            </div>
            <div class="col md-6 ">
                <label  for="">Insert Password</label>
                <input  class="form-control" type="password" placeholder="Insert password..">
            </div>
        </div>

        <button class="btn btn-success btn-block mt-5" type="submit">Send Date</button>
    </form>
</div>

    <%- include('layouts/script')%>   
</body>
</html>